{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="presentation">
		<h1>Bienvenue</h1>
		<div class="imagePresentation">
			<img src="{{asset('images/1.png')}}" alt="">
		</div>
	</div>

{% endblock %}
