{% extends 'base.html.twig' %}

{% block title %}Edit Vehicule
{% endblock %}

{% block body %}
	<br><br><br>
	<center>
		<div class="formCRUD">
			<h1>Edit Vehicule</h1>

			{{ include('vehicule/_form.html.twig', {'button_label': 'Update'}) }}

			<a href="{{ path('app_vehicule_index') }}" class="submitCRUDStyle">back to list</a>
			<br>
			{{ include('vehicule/_delete_form.html.twig') }}
		</div>
	</center>
{% endblock %}
